// colors
$main-color: #277FF2;
$secondary-color: #05C7F2;
$tertiary-color: #F2DBAE;
$text-color: #F26241;
$aux-color: #032CA6;

// sizes
$img-width: 80px;
$img-height: 80px;

// misc

$border-corners: 0.25em;


