* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: aqua;
}

h1 {
  font-size: 2.5em;
  font-family: cursive;
  color: orangered;
  text-align: center;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  top: -1000px;
  animation: show 1s ease-out both;
}

@keyframes show {
  from {
    top: -1000px;
  }

  to {
    top: 200px;
  }
}
